@import url('./styles/nav.css');
@import url('./styles/hamburguer.css');
@import url('./styles/logo-button.css');
@import url('./styles/nav-links.css');
@import url('./styles/home.css');
@import url('./styles/hero.css');
@import url('./styles/button.css');

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Measures */
* {
    --nav-height: 70px;
}

/* Base font family */
h1,
h2,
h3,
h4,
h5,
h6,
button,
p,
a {
    font-family: Helvetica;
}