.about-us {
    padding: 4em 2em;
}

.about-us .title {
    color: rgb(25, 111, 161);
    font-size: 28px;
    text-align: center;
}

.about-us .text {
    font-size: 20px;
    line-height: 34px;
    padding: 2em 0;
}

.about-us .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(41, 115, 150);
    border-radius: 16px;
    padding: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    gap: 1em;
}

.about-us .card .title {
    color: white;
    font-size: 22px;
}

.about-us .card img {
    max-width: 100%;
    border-radius: inherit;
}