.about-us .title {
    color: rgb(25, 111, 161);
}

.about-us .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 16px;
    padding: 1.5em 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    gap: 1em;
    margin: 2em 0;
    max-width: 350px;
}

.about-us .card .title {
    color: white;
    font-size: 22px;
}

.about-us .card img {
    width: 95%;
    height: 190px;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
}

@media screen and (min-width: 900px) {
    .about-us .cards {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1em;
    }

    .about-us .card {
        flex: 1;
    }

    .about-us .card img {
        height: 260px;
    }
}