.about-us .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.about-us .card {
    width: min(100%, 400px);
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    box-shadow:
        rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px,
        rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.about-us .card img {
    display: block;
    height: 60%;
    background-color: green;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.about-us .card .title {
    font-size: 20px;
    padding: 10px 0;
    font-size: clamp(16px, calc(16px + 1vmin), 22px);
    color: var(--on-surface-title);
}

@media screen and (min-width: 900px) {
    .about-us .cards {
        flex-direction: row;
        justify-content: space-evenly;
    }
}