.hamburguer {
    --side: 50px;
    width: var(--side);
    height: var(--side);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    gap: 6px;
}

.hamburguer .line {
    width: 60%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
}

.hamburguer.toggled {
    gap: 0;
}

.hamburguer.toggled .line.second {
    display: none;
}

.hamburguer.toggled .line.first {
    transform: rotate(45deg) translateY(2px);
}

.hamburguer.toggled .line.third {
    transform: rotate(-45deg) translateY(-2px);
}