.hero {
    background: url('../assets/images/hero.jpg');
    height: calc(100vh - var(--nav-height));
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
}

.hero .overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 36px;
}