.home {
    margin-top: var(--nav-height);
}

.home .section {
    padding: 4em 1.5em;
}

.home .title {
    font-size: 28px;
    text-align: center;
}

.home .text {
    font-size: 20px;
    line-height: 34px;
    padding: 2em 0;
}