.nav-links {
    position: fixed;
    top: var(--nav-height);
    left: 0;
    width: 100%;
    bottom: 0;
    background-color: inherit;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path 300ms ease;
}

.nav-links.visible {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}