.our-vision {
    padding: 0;
    color: white;
    background-color: var(--secondary-color);
}

.our-vision .carousel img.second {
    object-position: 35% center;
}

.our-vision .carousel img.third {
    object-position: 70% center;
}

@media screen and (min-width: 800px) {
    .our-vision {
        display: flex;
    }

    .our-vision .text {
        line-height: 50px;
        font-size: 28px;
    }

    .our-vision .copy-writing {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .our-vision .carousel {
        width: 60%;
    }
}