.technologies {
    padding: 4em 0;
}

.technologies .title {
    color: var(--secondary-color);
    margin: 1em 0 1.5em 0;
}

.technologies .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.technologies .card {
    width: 50vmin;
    height: 50vmin;
    display: flex;
    justify-content: center;
    padding: 0.5em;
}

.technologies .card .img-container {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.technologies .card img {
    max-width: 95%;
}

@media screen and (min-width: 450px) {
    .technologies .card {
        width: 33vmin;
        height: 33vmin;
    }
}